<style>
    .container {
        display: flex;
    }

    .box {
        border-radius: 9px;
        border: 1px solid purple;
        background-color: blue;
    }
</style>
<div class="container">
    balance
    <div class="box"></div>
</div>

@code {

}
