
<style>
    .container {
        display: flex;
    }

    .boxa, .boxb {
        border-radius: 9px;
        border: 1px solid purple;
    }

    .boxa {
        background-color: violet;
    }

    .boxb {
        background-color: cyan;
    }
</style>
<div class="container">
    <div class="boxa">Deposit?</div>
    <div class="boxb">Withdrawal?</div>
</div>

@code {

}
