@inject IJSRuntime JSRuntime
<style>
    .mr-1 {
        margin-right: -1rem;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" @onclick="GoBack">
            <span class="oi oi-action-undo mr-1" aria-hidden="true"></span> back
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button @onclick="ToggleTheme" style="background-color:cyan;">@buttonText</button>

    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-person" aria-hidden="true"></span> Accounts
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forex">
                <span class="oi oi-dollar" aria-hidden="true"></span> FuRRex trade
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Charts
            </NavLink>
        </div>

        <br />
        <br />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool isDarkMode = false;
    private string buttonText => isDarkMode ? "Merchant" : " User";

    private async Task ToggleTheme()
    {
        isDarkMode = !isDarkMode;
        await JSRuntime.InvokeVoidAsync("toggleTheme");
    }
}

